* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Amiri", serif;
}

.header {
  color: white;
  background-color: #2e5eaa;
  padding: 1.25rem;
  font-family: "Amiri", serif;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 100%;
  background-color: #ebeff5;
  padding: 2.25rem;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-section-header {
  font-size: 2.5rem;
}

.sidebar-section-title {
  font-size: 2.25rem;
}

.sidebar-section-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.25rem;
}

.sidebar-section-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 1.75rem;
  margin-right: 0.5rem;
}

.sidebar-section-item,
p {
  margin-left: 4px;
}

.sidebar-section-item,
a {
  margin-left: 4px;
}

.main-body {
  width: 100%;
  padding: 2.25rem;
}

.body-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.body-section,
p {
  font-size: 1.75rem;
}

.body-section-header {
  font-size: 2.5rem;
}

.body-section-title {
  font-size: 2.25rem;
}

.body-section-subtitle {
  font-size: 2rem;
}

.body-section-item {
  margin-left: 2rem;
}

.name {
  margin: 0 0.5rem;
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}

.occupation {
  margin: 0 1rem;
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
}

.bold {
  font-weight: 600;
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 10px;
  }
  .body-container {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    width: 40%;
  }

  .sidebar-section {
    align-items: flex-end;
  }

  .sidebar-section-item {
    justify-content: flex-end;
    flex-direction: row;
  }

  .sidebar-section-item,
  p {
    margin-right: 4px;
  }

  .sidebar-section-item,
  a {
    margin-right: 4px;
  }

  .main-body {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }

  .sidebar {
    width: 30%;
  }

  .main-body {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 12px;
  }

  .name {
    font-size: 4rem;
  }

  .occupation {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1280px) {
  .sidebar {
    width: 25%;
  }

  .main-body {
    width: 75%;
  }
}
